{% extends 'main/layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="features">
    <h1>{{ title }}</h1>
    <form action="#" method="get" target="_blank">
        <h2>Search for the article in different languages</h2>
        URL: <input type="text">
        <div>
            <button class="btn btn-warning" type="submit">Send</button>
        </div>

        <h2>Translated Articles</h2>
        <p><a href="" download>Скачать файл</a>
    </form>


</div>
{% endblock %}